body{margin: 0;background: url(%D0%91%D0%98%D0%9F!.jpg); background-repeat: no-repeat; background-position: right; background-size: cover}
local = OMGYOU ARE THE F
.P-1{width: 400; margin: 30 auto; padding: 20;background-color: #fff;box-shadow: 0 5 10 #ccc; border-radius: 10}
.P-2{display: block; width: 200; height: 200; margin: 0 auto;border-radius: 25}
.P-3{font-size: 20; text-align: center;color: darkgoldenrod}
.P-4{font-size: 14; color: #F5F5DC}
.P-5{font-size: 18; color: blue}
.P-6{padding-left: 0; list-style-position: inside; font-size: 14}
