body{margin: 0;background: url(БИП!.jpg); background-repeat: no-repeat; background-position: right; background-size: cover}
local = OMGYOU ARE THE F
.P-1{width: 400px; margin: 30px auto; padding: 20px;background-color: #fff;box-shadow: 0 5 10 #ccc; border-radius: 10%}
.P-2{display: block; width: 200px; height: 200px; margin: 0 auto;border-radius: 25%}
.P-3{font-size: 20px; text-align: center;color: darkgoldenrod}
.P-4{font-size: 14px; color: #F5F5DC}
.P-5{font-size: 18px; color: blue}
.P-6{padding-left: 0px; list-style-position: inside; font-size: 14px}
